@model ClassSurvey.Domain.Entities.StudentClass

@{
    ViewBag.Title = "Kết quả đánh giá";
    Layout = "~/Areas/Member/Views/Shared/_LayoutMember.cshtml";

}

@Html.Partial("_HeaderTeacherPartialView")
<div id="page-content" class="container-fluid">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item active" aria-current="page"><a href="/teacher/list-classes">Trang chủ</a></li>
            <li class="breadcrumb-item" aria-current="page">Kết quả đánh giá môn học</li>
        </ul>
    </nav>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AsideMenuTeacherPartialView")
        </div>
        <div class="col-md-9">
            <h2 style="font-weight:bold">Kết quả đánh giá môn học</h2>
            <h4 style="font-size: 12pt; padding-top: 10px;font-weight:bold">Tên môn học: @Model.Class.ClassName</h4>
            <h4 style="font-size: 12pt;font-weight:bold">Mã môn học : @Model.Class.ClassCode</h4>
            <h4 style="font-size: 12pt;font-weight:bold">Số tín chỉ : @Model.Class.NumberOfDegrees</h4>
            <h4 style="font-size: 12pt;font-weight:bold">Giảng viên: @Model.Teacher.TeacherName</h4>
            <br />
            <div class="content">
                @{
                    if (ViewBag.CountStudentsHaveSurvey == 0)
                    {
                        <h3>Chưa có thông tin khảo sát</h3>
                    }
                    else
                    {

                        <div class="row">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Tiêu chí</th>
                                        <th>M</th>
                                        <th>sTD</th>
                                        <th>M1</th>
                                        <th>STD1</th>
                                        <th>M2</th>
                                        <th>STD2</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < ViewBag.CountQuestion; i++)
                                    {
                                        <tr>
                                            <td >@(i + 1)</td>
                                            <td>@ViewBag.SurveyQuestion[@i]</td>
                                            <td>@Math.Round(@ViewBag.Average[@i],2)</td>
                                            <td>
                                               @Math.Round(@ViewBag.Std[i], 2)
                                            </td>
                                            <td>@Math.Round(@ViewBag.AverageAll[@i],2)</td>
                                            <td>@Math.Round(ViewBag.StdAll[@i], 2)</td>
                                            <td>@Math.Round(@ViewBag.Average[@i],2)</td>
                                            <td>@Math.Round(ViewBag.Std[@i], 2)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
            </div>
            <label style="font-weight: bold; padding-top: 10px">
                <p>
                    Ghi chú: </br>
                    - M: giá trị trung bình của các tiêu chí theo lớp học phần</br>
                    - sTD: độ lệch chuẩn của các tiêu chí theo lớp học phần</br>
                    - M1: giá trị trung bình của các tiêu chí dựa trên dữ liệu phản hồi của sinh viên cho các giảng viên dạy cùng môn học với thầy/cô</br>
                    - STD1: độ lệch chuẩn của các tiêu chí dựa trên ý kiến phản hồi của sinh viên cho các giảng viên dạy cùng môn học với thầy/cô</br>
                    - M2: giá trị trung bình của các tiêu chí dựa trên ý kiến phản hồi của sinh viên về các môn học mà thầy/cô đã thực hiện giảng dạy</br>
                    - STD2: độ lệch chuẩn của các tiêu chí dựa trên ý kiến phản hồi của sinh viên cho các giảng viên dạy cùng môn học với thầy/cô
                </p>
            </label>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>   
