@model ClassSurvey.Domain.Entities.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    dl dt {
        padding-bottom: 10px;
    }
</style>

<div class="content-wrapper">
    <section class="content-header" style="border-bottom: 1px solid gray; padding-bottom: 10px">
        <h1>
            Thông tin sinh viên:  @Model.StudentName
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <div class="student-info" style="padding-top: 20px">
        <dl class="dl-horizontal" style="font-size: 12pt">
            <dt>
                Mã sinh viên:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentCode)
            </dd>

            <dt>
                Tên sinh viên: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Lớp học phần: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassByGrade)
            </dd>

            <dt>
                Trạng thái:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
               Bị xóa:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        <div style="padding-left: 20px;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            <a href="/student/list-students">Quay lại trang danh sách sinh viên</a>
        </div>
    }
    
</div>


