@model ClassSurvey.Domain.Entities.Teacher

@{
    ViewBag.Title = "Xóa giáo viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    dl dt {
        padding-bottom: 10px;
    }
</style>

<div class="content-wrapper" style="padding-left:20px"> 
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Lecturers</li>
        </ol>
    </section>
    <h3 style="font-weight:bold">Bạn có chắc muốn xóa giáo viên này không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên giáo viên:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Điện thoại:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                Văn phòng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Office)
            </dd>

            <dt>
                Trạng thái:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                <a href="/teacher/list-teachers">Quay về trang danh sách giáo viên</a>
            </div>
        }
    </div>

</div>
