@model ClassSurvey.Domain.Entities.StudentClass

@{
    ViewBag.Title = "Đánh giá môn học";
    Layout = "~/Areas/Member/Views/Shared/_LayoutMember.cshtml";
}

@Html.Partial("_HeaderMemberPartialView")
<div id="page-content" class="container-fluid">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="/student/list-classes">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Class.ClassName</li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AsideMenuStudentPartialView")
        </div>
        <div class="col-md-9">
            <h2>Đánh giá môn học</h2>
            <br />
            <h4 style="font-size: 13pt">Tên môn học: @Model.Class.ClassName</h4>
            <h4 style="font-size: 13pt">Mã môn học : @Model.Class.ClassCode</h4>
            <h4 style="font-size: 13pt">Số tín chỉ : @Model.Class.NumberOfDegrees</h4>
            <h4 style="font-size: 13pt">Giảng viên: @Model.Teacher.TeacherName</h4>
            <br />
            @if (ViewBag.Message != null)
            {
                <h3>@ViewBag.Message</h3>

            }
            else
            {
                using (Html.BeginForm())
                {
                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Tiêu chí</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < ViewBag.CountQuestion; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@ViewBag.SurveyQuestions[@i]</td>
                                            <td>@Html.RadioButton(@i.ToString(), 1)</td>
                                            <td>@Html.RadioButton(@i.ToString(), 2)</td>
                                            <td>@Html.RadioButton(@i.ToString(), 3)</td>
                                            <td>@Html.RadioButton(@i.ToString(), 4)</td>
                                            <td>@Html.RadioButton(@i.ToString(), 5)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.Hidden("classId", Model.ClassId);
                    @Html.Hidden("studentdetailId", Model.Id);

                    <input type="submit" value="Submit" class="btn btn-primary" />
                }
            }
        </div>
    </div>
    <br>
</div>

