@model ClassSurvey.Domain.Entities.Class

@{
    ViewBag.Title = "Xóa lớp học phần";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    dl dt {
        padding-bottom: 10px;
    }
</style>

<div class="content-wrapper" style="padding-left: 20px">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Classes</li>
        </ol>
    </section>
    <h3>Bạn có chắc muốn xóa lớp học phần này không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Tên lớp: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassName)
            </dd>

            <dt>
                Mã lớp: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassCode)
            </dd>

            <dt>
                Học kì: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>

            <dt>
                Số tín chỉ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfDegrees)
            </dd>

            <dt>
                Trạng thái:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>
</div>

